# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Production
dist/
dist-ssr/

# Environment
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
